.a-propos {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 768px) {
  .a-propos {
    .collapse {
      margin: 0 10px;
    }
    .collapse-title {
      width: 100%;
    }

    .collapse-txt {
      width: 100%;
    }
  }
}
