@import '../../assets/style/variable.scss';
@import '../../assets/style/global.scss';
@import '../../assets/style/libs/reset.scss';

nav {
  padding: 50px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 100%;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 24px;
    color: $primary-color;
  }

  .underline {
    text-decoration: underline;
  }

  li :hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 30px 10px;

    img {
      height: auto;
      width: 145px;
    }
    ul {
      justify-content: flex-end;
      width: 50%;
      gap: 25px;
      text-transform: uppercase;
    }
    a {
      font-size: 12px;
    }
  }
}
