@import '../../assets/style/variable.scss';

.accomodation {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  gap: 20px;
  .accomodation-txt {
    display: flex;
    justify-content: space-between;
  }
}

.showing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  .name {
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
  }
}

.tags-list {
  display: flex;
  gap: 10px;
  .tag {
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    padding: 5px 25px;
  }
}

.host-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 20%;
  .host {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 18px;
      text-align: end;
    }
    img {
      border-radius: 50%;
      height: 65px;
    }
  }
  .rating {
    display: flex;
    gap: 5px;
  }
}

.description-equipments {
  display: flex;
  gap: 50px;
  .collapse {
    align-items: flex-start;
    width: 50%;
  }
  .collapse-title {
    width: 100%;
  }
  .collapse-txt {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
