.banner-img {
  height: 220px;
  margin: 0 60px;
  position: relative;
  border-radius: 25px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  .opacity {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
  }

  .home-banner-text {
    z-index: 2;
    color: white;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .banner-img {
    margin: 0 10px;
    height: 110px;

    .home-banner-text {
      font-size: 24px;
    }
  }
}
