@import '../../assets/style/variable.scss';

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 40px;
  h2 {
    padding: 0;
    margin: 0;
    font-size: 188px;
    font-weight: 700;
  }
  p {
    font-size: 36px;
    text-align: center;
  }
  a {
    font-size: 18px;
    color: $primary-color;
  }
}

@media (max-width: 768px) {
  .error-page {
    h2 {
      font-size: 96px;
    }

    p {
      font-size: 18px;
    }
    a {
      font-size: 14px;
    }
  }
}
